---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer {stripe_secret_key}
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ch_1Fv6djINwW6faGMqX0cQyWzr",
              "object": "charge",
              "amount": 2500,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "application_fee_amount": null,
              "balance_transaction": "txn_1Fv6djINwW6faGMqgfBuAAst",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null
              },
              "captured": true,
              "created": 1577644643,
              "currency": "eur",
              "customer": null,
              "description": null,
              "destination": null,
              "dispute": null,
              "disputed": false,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {
              },
              "invoice": null,
              "livemode": false,
              "metadata": {
              },
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "risk_score": 8,
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "payment_intent": null,
              "payment_method": "card_1Fv6diINwW6faGMqr7BLDyey",
              "payment_method_details": {
                "card": {
                  "brand": "visa",
                  "checks": {
                    "address_line1_check": null,
                    "address_postal_code_check": null,
                    "cvc_check": "pass"
                  },
                  "country": "US",
                  "exp_month": 1,
                  "exp_year": 2020,
                  "fingerprint": "M85tw17Ph8G2Hy9g",
                  "funding": "credit",
                  "installments": null,
                  "last4": "4242",
                  "network": "visa",
                  "three_d_secure": null,
                  "wallet": null
                },
                "type": "card"
              },
              "receipt_email": null,
              "receipt_number": null,
              "receipt_url": "https://pay.stripe.com/receipts/acct_1FmjFiINwW6faGMq/ch_1Fv6djINwW6faGMqX0cQyWzr/rcpt_GS0ftaKhwYM0JmqUSugkuoposqOkD5G",
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1Fv6djINwW6faGMqX0cQyWzr/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1Fv6diINwW6faGMqr7BLDyey",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": null,
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "M85tw17Ph8G2Hy9g",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            }
          ],
          "has_more": true,
          "url": "/v1/charges"
        }
  recorded_at: Sun, 29 Dec 2019 18:39:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=eur&source=invalid-payment-token
    headers:
      Authorization:
      - Bearer {stripe_secret_key}
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such token: invalid-payment-token",
            "param": "source",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 29 Dec 2019 18:39:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?ending_before=ch_1Fv6djINwW6faGMqX0cQyWzr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer {stripe_secret_key}
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [

          ],
          "has_more": false,
          "url": "/v1/charges"
        }
  recorded_at: Sun, 29 Dec 2019 18:39:26 GMT
recorded_with: VCR 5.0.0
